<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>


  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      
        <h1 class="display-4">About Me : </h1>
        
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd">
              <br><br>
              <img src="Assets/images/me.png"  alt="responsive website"
              class="img-fluid">
            </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <br><br><p>My name is Deep Patel.</p>
              <p>"I hold a Bachelor's degree in Computer Applications and am currently
                pursuing my studies at Centennial College in the field of Computer
                Engineering Technology with a focus on Artificial Intelligence. My passion
                for technology and its advancements has driven me to continuously expand
                my knowledge and skills in the field. I am eager to apply what I have
                learned in my studies to real-world challenges and contribute to the
                growth of the AI industry. I believe that my background in computer
                applications and my ongoing studies in computer engineering technology
                with an emphasis on AI will enable me to bring unique perspectives and
                innovative solutions to any project I work on."</p>
              <p>To download my Resume : <button class="btn btn-outline-success">
                <div class="container-fluid" id="navbarSupportedContent">
                <a class="nav-link active" href="https://drive.google.com/file/d/1Tnwe-hWfC2LjLakqV7HlqsCll9xhV79N/view?usp=share_link" download></i>Click here</a>
            </div></button></p>
          </div>
        </div>
    </div>
  </main>

  
  <%- include ('partials/bottom_nav') %>
  <%- include ('partials/footer') %>

