<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>

  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div>
          <h1 class="display-4">Services provided by me are : </h1>
        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="Assets/images/web.jpeg" width="500px" alt="responsive website" class="img-fluid">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd"><br><br>
            <p> <b> 1 - Web development</b> : Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services.</p> <br>
          </div>
        </div>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd"><br><br>
            <img src="Assets/images/java.png" width="500px" alt="responsive website" class="img-fluid">
          </div>
          
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd"><br><br>
            <p><b> 2 - Java Programming</b> Java is a widely-used programming language for coding web applications. It has been a popular choice among developers for over two decades, with millions of Java applications in use today. Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p> <br>
          </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  
  <%- include ('partials/bottom_nav') %>
  <%- include ('partials/footer') %>

 